<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro de Usuario</h1>
    <form action="/cadastrar" method="post">
    <input type="text" placeholder= "Digite o nome do produto" id="nome" name="nome"><br> 
    <input type="number"placeholder= "Digite o email" id="email" name="email"><br> 
    <button>cadastrar</button>
    </form>
</body>
</html>